{% extends 'layout.html' %}

{% block body %}

<!-- imagenes desde https://www.pexels.com/es-es/ -->

<div class="alert alert-dismissible alert-warning mt-4">
    <h4 class="alert-heading">Consejos de entrenamiento!</h4>
    <p class="mb-0">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime repudiandae libero consequuntur at nihil! Possimus velit veniam asperiores facere voluptatum repudiandae doloribus.
    </p>
  </div>
  
  
<div class="col-md-6">
    <div class="card mb-3">
        <h3 class="card-header">CAMINATA</h3>
        <div class="card-body">
            <h6 class="card-subtitle text-muted">Lectura promedio 4 minutos</h6>
        </div>
        <img src="../static/img/pexels-caminata.jpg" alt="">
        <div class="card-body">
          <p class="card-text">
            La caminata en las montañas suele ser dura, por lo que para no fatigarse es necesario hacer una parada para poder descansar y recuperar fuerzas.
          </p>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card mb-3">
        <h3 class="card-header">CICLISMO</h3>
        <div class="card-body">
            <h6 class="card-subtitle text-muted">Lectura promedio 3 minutos</h6>
        </div>
        <img src="../static/img/pexels-ciclismo.jpg" alt="">
        <div class="card-body">
          <p class="card-text">
            Al entrar a un camino, mira hacia ambos lados para asegurarte de que no venga ningún vehículo. Ceda el paso frente a los peatones.
          </p>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card mb-3">
        <h3 class="card-header">GIMNASIA</h3>
        <div class="card-body">
            <h6 class="card-subtitle text-muted">Lectura promedio 2 minutos</h6>
        </div>
        <img src="../static/img/pexels-gimnasia.jpg" alt="">
        <div class="card-body">
          <p class="card-text">
            Si no tienes el hábito de entrenar o te falta motivación, entrena con una persona que tenga objetivos similares a los tuyos, esto los mantendrá motivados y los ejercicios en el gimnasio serán menos tediosos.
          </p>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card mb-3">
        <h3 class="card-header">NATACIÓN</h3>
        <div class="card-body">
            <h6 class="card-subtitle text-muted">Lectura promedio 4 minutos</h6>
        </div>
        <img src="../static/img/pexels-natacion.jpg" alt="">
        <div class="card-body">
          <p class="card-text">
            En la natación en piscina, se produce mucho movimiento de rotación de cadera y una extensión completa, mientras que en la natación en aguas abiertas es un poco menor debido a que los brazos se mueven más rápido.
          </p>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card mb-3">
        <h3 class="card-header">PARKOUR</h3>
        <div class="card-body">
            <h6 class="card-subtitle text-muted">Lectura promedio 3 minutos</h6>
        </div>
        <img src="../static/img/pexels-parkour.jpg" alt="">
        <div class="card-body">
          <p class="card-text">
            Un entrenamiento debe tener una meta. Puede ser algo simple como buscar lograr un paso más en el salto de precisión o hacerlo buscando un objetivo como bajar de peso, lograr correr 10 km o hasta hacerlo en nombre de alguien. Si no existe un objetivo, entrenar pierde valor.
          </p>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card mb-3">
        <h3 class="card-header">YOGA</h3>
        <div class="card-body">
          <h6 class="card-subtitle text-muted">Lectura promedio 2 minutos</h6>
        </div>
        <img src="../static/img/pexels-yoga.jpg" alt="">
        <div class="card-body">
          <p class="card-text">
            Respeta tu cuerpo, tus capacidades. No intentes hacer las posturas más difíciles el primer día. Inténtalo cuando estés seguro de que puedes hacerlas. Y mientras tanto, pregunta a tu profesor de yoga. Seguro que te puede sugerir modificaciones o variaciones a la mayoría de las posturas.
          </p>
        </div>
    </div>
</div>


{% endblock %}