{% extends 'layout.html' %}

{% block body %}
<div class="col-md-12 mt-4">
    <table class="table table-hover">
       
        <tbody>
            <tr class="table-success">
                <th scope="row">Actividad</th>
                <td>Lunes</td>
                <td>Martes</td>
                <td>Miercoles</td>
                <td>Jueves</td>
                <td>Viernes</td>
                <td>Sabado</td>
                <td>Domingo</td>
            </tr>
            <tr>
                <th scope="row">Gimnasia</th>
                <td>Inicia: 7 hrs, <br> Finaliza: 18 hrs</td>
                <td>Inicia: 9 hrs, <br> Finaliza: 17 hrs</td>
                <td>Inicia: 7 hrs, <br> Finaliza: 20 hrs</td>
                <td>Inicia: 10 hrs, <br> Finaliza: 15 hrs</td>
                <td>Inicia: 10 hrs, <br> Finaliza: 18 hrs</td>
                <td>Inicia: 11 hrs, <br> Finaliza: 16 hrs</td>
                <td>Inicia: 12 hrs, <br> Finaliza: 18 hrs</td>
            </tr>
            <tr class="table-light">
                <th scope="row">Yoga</th>
                <td>Inicia: 12 hrs, <br> Finaliza: 18 hrs</td>
                <td>Inicia: 7 hrs, <br> Finaliza: 18 hrs</td>
                <td>Inicia: 9 hrs, <br> Finaliza: 17 hrs</td>
                <td>Inicia: 7 hrs, <br> Finaliza: 20 hrs</td>
                <td>Inicia: 10 hrs, <br> Finaliza: 15 hrs</td>
                <td>Inicia: 10 hrs, <br> Finaliza: 18 hrs</td>
                <td>Inicia: 11 hrs, <br> Finaliza: 16 hrs</td>
            </tr>
             <tr>
                <th scope="row">Parkour</th>
                <td>Inicia: 11 hrs, <br> Finaliza: 16 hrs</td>
                <td>Inicia: 12 hrs, <br> Finaliza: 18 hrs</td>
                <td>Inicia: 7 hrs, <br> Finaliza: 18 hrs</td>
                <td>Inicia: 9 hrs, <br> Finaliza: 17 hrs</td>
                <td>Inicia: 7 hrs, <br> Finaliza: 20 hrs</td>
                <td>Inicia: 10 hrs, <br> Finaliza: 15 hrs</td>
                <td>Inicia: 10 hrs, <br> Finaliza: 18 hrs</td>
            </tr>
            <tr class="table-light">
                <th scope="row">Caminata</th>
                <td>Inicia: 10 hrs, <br> Finaliza: 18 hrs</td>
                <td>Inicia: 11 hrs, <br> Finaliza: 16 hrs</td>
                <td>Inicia: 12 hrs, <br> Finaliza: 18 hrs</td>
                <td>Inicia: 7 hrs, <br> Finaliza: 18 hrs</td>
                <td>Inicia: 9 hrs, <br> Finaliza: 17 hrs</td>
                <td>Inicia: 7 hrs, <br> Finaliza: 20 hrs</td>
                <td>Inicia: 10 hrs, <br> Finaliza: 15 hrs</td>
            </tr>
            <tr>
                <th scope="row">Natacion</th>
                <td>Inicia: 10 hrs, <br> Finaliza: 15 hrs</td>
                <td>Inicia: 10 hrs, <br> Finaliza: 18 hrs</td>
                <td>Inicia: 11 hrs, <br> Finaliza: 16 hrs</td>
                <td>Inicia: 12 hrs, <br> Finaliza: 18 hrs</td>
                <td>Inicia: 7 hrs, <br> Finaliza: 18 hrs</td>
                <td>Inicia: 9 hrs, <br> Finaliza: 17 hrs</td>
                <td>Inicia: 7 hrs, <br> Finaliza: 20 hrs</td>
            </tr>
            <tr class="table-light">
                <th scope="row">Ciclismo</th>
                <td>Inicia: 7 hrs, <br> Finaliza: 20 hrs</td>
                <td>Inicia: 10 hrs, <br> Finaliza: 15 hrs</td>
                <td>Inicia: 10 hrs, <br> Finaliza: 18 hrs</td>
                <td>Inicia: 11 hrs, <br> Finaliza: 16 hrs</td>
                <td>Inicia: 12 hrs, <br> Finaliza: 18 hrs</td>
                <td>Inicia: 7 hrs, <br> Finaliza: 18 hrs</td>
                <td>Inicia: 9 hrs, <br> Finaliza: 17 hrs</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}