{% extends 'layout.html' %}

{% block body %}
<div class="col-md-8">
    <h1>Bienvenido al Centro Deportivo</h1>
    <div class="text_j">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta maiores, libero sunt deleniti explicabo fugit beatae. Hic beatae dolore suscipit odit, provident asperiores harum ducimus tenetur corporis libero delectus repellat nihil accusamus eligendi!
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa ratione nemo sequi veniam repellendus quod. Quasi, debitis? Excepturi tempore tenetur vero, soluta molestiae dolores atque dignissimos sunt non voluptatibus nobis.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, culpa. Iste voluptate enim nesciunt natus accusantium! Nesciunt quos vitae, explicabo pariatur odit sunt modi corrupti sapiente. Ut assumenda quas tenetur numquam, aliquam harum magni obcaecati consectetur sit quos, ad incidunt quam vitae dolore nisi!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam eum veritatis et voluptates nihil excepturi. Suscipit, et, tempora soluta amet, deserunt laborum quo rerum ipsam optio voluptatibus fugit ratione labore. Dicta ut quibusdam, perspiciatis possimus tempora illo nemo explicabo fuga eaque ipsum assumenda veritatis suscipit reprehenderit in. Amet, tempora eaque quidem blanditiis ullam officiis eius libero accusantium voluptatibus consequatur laborum porro necessitatibus suscipit voluptas laboriosam quasi earum illum fugit inventore, repudiandae corporis, repellendus nobis. Unde pariatur, ex natus reprehenderit alias aperiam nobis temporibus est eaque asperiores iusto hic provident ad nam magnam tempore facere nostrum eum vero sint similique? Quisquam!
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, pariatur. Obcaecati, deleniti?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit.
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint eius consectetur commodi molestiae! Voluptatum nihil quasi incidunt. Voluptatem architecto voluptas earum doloremque officiis vero pariatur, itaque eveniet, similique quas voluptate quis. Perferendis eius quaerat eligendi? Eius sit minima vitae, incidunt cupiditate voluptate modi id molestiae illo fuga unde nemo dolorum delectus, autem labore debitis voluptatibus.
        </p>
    </div>
</div>
<div class="col-6 col-md-4 avisos">
    <h4>Avisos importantes</h4>
    <section>
        <p>
            Días de pago de servicios
        </p>
        <p>
            Calendario de actividades
        </p>
    </section>
    <section>
        <p>
            No se olvide de ...
        </p>
    </section>
</div>

{% endblock %}