{% extends 'layout.html' %}

{% block body %}

<div class="col-md-4">
    <div class="card text-white bg-primary mt-4" style="max-width: 20rem;">
        <div class="card-header">Plan Basic</div>
        <div class="card-body">
          <h4 class="card-title">Plan Básico</h4>
          <p class="card-text">
            Entrena en una solo sede, uso de algunos aparatos disponibles.
            Pegunte por otras opciones.
        </p>
        
        <div class="d-grid gap-2">
            <button class="btn btn-lg btn-light" type="button">
                Seleccionar
            </button>
        </div> 
  
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card text-white bg-info mt-4" style="max-width: 20rem;">
        <div class="card-header">Plan Medium</div>
        <div class="card-body">
          <h4 class="card-title">Plan Mediano</h4>
          <p class="card-text">
            Entrena en cualquier de las 5 sedes disponibles, uso de todos los aparatos disponible. 
        </p>
        <div class="d-grid gap-2">
            <button class="btn btn-lg btn-light" type="button">
                Seleccionar
            </button>            
        </div> 
  </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card text-white bg-warning mt-4" style="max-width: 20rem;">
        <div class="card-header">Plan Harder</div>
        <div class="card-body">
          <h4 class="card-title">Plan todo incluido</h4>
          <p class="card-text">
            Entrena en cualquier sede dentro de la Republica Mexicana, uso de cualquier aparato disponible.
        </p>
        <div class="d-grid gap-2">
            <button class="btn btn-lg btn-light" type="button">
                Seleccionar
            </button>            
        </div> 
        </div>
    </div>
</div>


{% endblock %}